@tailwind base;
@tailwind components;

@font-face {
  src: url('/fonts/nexa/Nexa-Heavy.ttf') format(truetype);
  font-family: 'nexa';
}

@font-face {
  src: url('/fonts/nexa/Nexa-ExtraLight.ttf') format(truetype);
  font-family: 'nexa-light';
}

@tailwind utilities;




.move {
  animation: moveY 2s ease-in-out forwards; 
}

.move2 {
  animation: moveY2 2s ease-in-out forwards; 
}

/* Animation for img1 */
@keyframes moveY {
  from {
    transform: translateY(0) translateX(-55%); 
  }
  to {
    transform: translateY(68%) translateX(-80%); 
  }
}

/* Animation for img2 */
@keyframes moveY2 {
  from {
    transform: translateY(-40%) translateX(65%); 
  }
  to {
    transform: translateY(-100%) translateX(65%); 
  }
}






