@tailwind base;
@tailwind components;

@font-face {
  src: url('/fonts/nexa/Nexa-Heavy.ttf') format(truetype);
  font-family: 'nexa';
}

@font-face {
  src: url('/fonts/nexa/Nexa-ExtraLight.ttf') format(truetype);
  font-family: 'nexa-light';
}

@tailwind utilities;
