.card {
    width: 340px;
    border-radius: 20px;
    height: 400px;
    background: #1b233d;
    padding: 7px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    background-color: black;
    position: relative;
  }
  
  .card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
  }
  
  .card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .card .top-section .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
  }
  
  .card .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .card .top-section .icons .social-media {
    height: 100%;
    padding: 5px 5px;
    display: flex;
    gap: 15px;
  }
  
  .card .top-section .icons .social-media .svg {
    height: 100%;
    fill: #1b233d;
  }
  
  .card .top-section .icons .social-media .svg:hover {
    fill: white;
  }
  
  .card .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
  }
  
  .card .bottom-section .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .card .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
  }
  
  .card .bottom-section .row .item .big-text {
    font-size: 12px;
    display: block;
  }
  
  .card .bottom-section .row .item .regular-text {
    font-size: 9px;
  }
  
  .card .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }



















/* for paralex effect */

.contaner{
    height: 300vh;
    position: relative;


    .stickyContaner{
        position: sticky;
        top: 0;
        background-color: rgb(32, 31, 31);
        height: 100vh;
        overflow: hidden;
      }
      .el{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
      
          .imgContainer{
              width: 12vw;
              height: 12vh;
              position: relative;
              /* transform: translateX(-50vw); */
      
              .img{
                  object-fit: cover;
                }
          
            }

            
            &:nth-of-type(2){
                .imgContainer{
                    top: -13vh;
                    left: 2.8vw;
                    width: 17vw;
                    height: 12vh;
                }
            }

            &:nth-of-type(3){
                .imgContainer{
                    top: 0vh;
                    left: 13.5vw;
                    width: 12vw;
                    height: 12vh;
                }
            }

            &:nth-of-type(4){
                .imgContainer{
                    top: -5vh;
                    left: -14.5vw;
                    width: 14vw;
                    height: 22vh;
                }
            }

            &:nth-of-type(5){
                .imgContainer{
                    top: 13.5vh;
                    left: -13vw;
                    width: 18vw;
                    height: 13vh;
                }
            }

            &:nth-of-type(6){
                .imgContainer{
                    top: 13vh;
                    left: 3.5vw;
                    width: 12vw;
                    height: 12vh;
                }
            }

            &:nth-of-type(7){
                .imgContainer{
                    top: 11vh;
                    left: 15vw;
                    width: 8vw;
                    height: 8vh;
                }
            }
            

        }



    }






/* 
    &:nth-of-type(3){
        .imgContainer{
            top: -10vh;
            left: -25vw;
            width: 20vw;
            height: 45vh;
        }
    }
    &:nth-of-type(4){
        .imgContainer{
            left: 27.5vw;
            width: 25vw;
            height: 25vh;
        }
    }
    &:nth-of-type(5){
        .imgContainer{
            top: 27.5vh;
            left: 5vw;
            width: 20vw;
            height: 25vh;
        }
    }
    &:nth-of-type(6){
        .imgContainer{
            top: 27.5vh;
            left: -22.5vw;
            width: 30vw;
            height: 25vh;
        }
    }
    &:nth-of-type(7){
        .imgContainer{
            top: 22.5vh;
            left: 25vw;
            width: 15vw;
            height: 15vh;
        }
    } */